@tailwind base;
@tailwind components;
@tailwind utilities;

.header-container {
    text-decoration-color: black;
    column-count: 3;
    background: rgb(199, 220, 167);
    border-radius: 10px;
    border-width: 4px;
    width: 100%;
    /* align-self: center; */
    /* justify-content: center; */
    border-color:  rgb(137, 185, 173)
}

.activities{
    column-count:3;
}

.groups{
    column-count: 2;
}

.activity-card{
    border-radius: 25px;
    background: rgb(199, 220, 167);
    box-shadow: 10px 5px 5px black;
    color: black;
    padding: 24px;
    text-align: center;
    text-justify: center;
    font-weight: bold;
    font-size: 150%;
    margin: 5px;
}

.group-card{
    display: flex;
    border-radius: 25px;
    background: rgba(37, 99, 235);
    box-shadow: 10px 5px 5px black;
    color: white;
    padding: 24px;
    width: 200px;
    height: 85px;
    text-align: center;
    text-justify: center;
    font-weight: bold;
    font-size: 125%;
    margin: 5px;
}

.typed-input {
    background-color: white;
    width: 100%;
    border-radius: 10px;
    height: 2.5rem;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #ddd;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    box-shadow: 0px 0px 8px;
    margin: 5px;
    position: relative;
}

#itinerary-grid {
    display: flex;
    flex-wrap: wrap;
}

.trip-tile {
    border: 4px solid #89B9AD;
    border-radius: 5px;
    padding: 20px;
    /* padding-left: 20px;
    padding-bottom: 20px; */
    min-width: 400px;
    margin: 10px;
  background-color: white;
    /* display: flex;
    flex-direction: column; */
    
}

.tile-buttons {
    color: blue;
    max-width: 150px;
    display: flex;
    justify-content: space-between;

    :hover {
        text-decoration: underline;
    }
}

#loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#itinerary-details {
    margin-left: 20px;
}

.date {
    font-weight: bold;
    text-decoration: underline;
}

.day-entry {
    margin-left: 10px;
    margin-bottom: 20px;
}

.day-details {
    margin-left: 10px;
}

.time-of-day {
    font-weight: bold;
}

.activity-details {
    margin-left: 10px;
}

.text-3xl{
    padding: 10px;
}

.start{
    text-align: center;
    justify-content: center;
}


/* Styles for Day and Activity Cards on Itinerary Page */

.itineraryPage {
  display: flex;
  background: linear-gradient(135deg, #FFEBD8, #C7DCA7);
  min-height: 100vh;
}

.scheduleContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 70px;
  min-width: 100vw;
}

.hotelsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  min-width: 90vw;
}

/* Day Card */
.day {
  margin: 15px;
  padding: 15px;
  min-width: 80vw;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color:  rgb(255, 197, 197);
}

/* Header for Day */
.dayHeader {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #4c4c4c; /* Dark color for better visibility */
}

/* Activity Card */
.activity {
  position: relative;
  display: flex;
  min-height: auto;
  background-color: rgb(255, 235, 216); /* Lighter background for activities */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  transition: box-shadow 0.3s ease-in-out;
}

/* Hover Effect for Activity Card */
.activity:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.activity button {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #555;
}

/* Title for Activity */
.activity h3 {
  min-width: 100px;
  font-size: 18px; /* Larger font size for titles */
  margin: 0;
  color: #555; /* Slightly darker color for titles */
}

/* Adjustments for First and Last Child */
.activity h3:first-child {
  margin-top: 0;
}

.activity h3:last-child {
  margin-bottom: 0;
}

/* Text for Activity Description */
.activity p {
  font-size: 16px; /* Smaller font size for description */
  color: #777; /* Lighter color for description */
}

/* Loader for Activity Cards */
.activityLoader {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.loaderVideo {
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Shadow effect */
}

/* Styling for the ItineraryPage Menu */
.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -280px;
  left: -250px; /* Start off-screen */
  width: 250px;
  background: rgb(199, 220, 167); 
  border-radius: 10px;
  border: 3px solid rgb(137, 185, 173);
  /* border-color:  rgb(137, 185, 173); */
  color: #ecf0f1; /* Text color */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Shadow effect */
  transition: top 0.3s, left 0.3s ease; /* Smooth transition when sliding in */
  z-index: 10;
}

.menu.open {
  top: 60px;
  left: 15px; /* Slide in when menu is open */
}

.menu button {
  padding: 5px;
  background-color: #a8a8a8; /* Button background color */
  color: #4c4c4c; /* Button text color */
  border: none;
  border-radius: 5px;
  margin: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.menu button:hover {
  background-color: rgb(255, 197, 197); /* Darker background color on hover */
}

/* Hotel Cards */
.hotel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    min-width: 600px;
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    color: #4c4c4c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color:  rgb(255, 197, 197);
  }






.login-page {
  padding: 10px;
}

.register-page {
  padding: 10px;
}

  .inline-block {
    padding: 20px;
    text-align: right;
  }
  #login-button{
    background-color: white;
    padding: 3px;
  }
  
  #register-button {
    background-color: white;
    padding: 3px;
  }

  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .register-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .login-form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .register-form{
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .login-form h2 {
    margin-bottom: 20px;
  }

  .register-form h2{
    margin-bottom: 20px;
  }

  .login-form label, .register-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .login-form input, .register-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .login-form button:hover{
    background-color: #0056b3;
  }
  .register-form button:hover{
    background-color: #0056b3;
  }
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .map {
    height: 100%;
  }
