@tailwind base;
@tailwind components;
@tailwind utilities;

.header-container {
    text-decoration-color: black;
    column-count: 3;
    background: rgb(199, 220, 167);
    border-radius: 10px;
    border-width: 4px;
    width: 100%;
    /* align-self: center; */
    /* justify-content: center; */
    border-color:  rgb(137, 185, 173)
}

.activities{
    column-count:3;
}

.groups{
    column-count: 2;
}

.activity-card{
    border-radius: 25px;
    background: rgb(199, 220, 167);
    box-shadow: 10px 5px 5px black;
    color: black;
    padding: 24px;
    text-align: center;
    text-justify: center;
    font-weight: bold;
    font-size: 150%;
    margin: 5px;
}

.group-card{
    display: flex;
    border-radius: 25px;
    background: rgba(37, 99, 235);
    box-shadow: 10px 5px 5px black;
    color: white;
    padding: 24px;
    width: 200px;
    height: 85px;
    text-align: center;
    text-justify: center;
    font-weight: bold;
    font-size: 125%;
    margin: 5px;
}

.typed-input {
    background-color: white;
    width: 100%;
    border-radius: 10px;
    height: 2.5rem;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #ddd;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    box-shadow: 0px 0px 8px;
    margin: 5px;
    position: relative;
}

#itinerary-grid {
    display: flex;
    flex-wrap: wrap;
}

.trip-tile {
    border: 0.75px solid black;
    border-radius: 5px;
    padding: 20px;
    /* padding-left: 20px;
    padding-bottom: 20px; */
    min-width: 400px;
    margin: 10px;

    /* display: flex;
    flex-direction: column; */
}

.tile-buttons {
    color: blue;
    max-width: 150px;
    display: flex;
    justify-content: space-between;

    :hover {
        text-decoration: underline;
    }
}

#loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#itinerary-details {
    margin-left: 20px;
}

.date {
    font-weight: bold;
    text-decoration: underline;
}

.day-entry {
    margin-left: 10px;
    margin-bottom: 20px;
}

.day-details {
    margin-left: 10px;
}

.time-of-day {
    font-weight: bold;
}

.activity-details {
    margin-left: 10px;
}

.text-3xl{
    padding: 10px;
}

.start{
    text-align: center;
    justify-content: center;
}

.activity {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .activity:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .activity h3 {
    font-size: 18px;
    margin: 0;
    color: #333;
  }
  
  .activity h3:first-child {
    margin-top: 0;
  }
  
  .activity h3:last-child {
    margin-bottom: 0;
  }
  
  .day {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .dayHeader {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .login-page {
    padding: 10px;
  }

  .register-page {
    padding: 10px;
  }

  .inline-block {
    padding: 20px;
    text-align: right;
  }
  #login-button{
    background-color: white;
    padding: 3px;
  }
  
  #register-button {
    background-color: white;
    padding: 3px;
  }

  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .register-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .login-form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .register-form{
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .login-form h2 {
    margin-bottom: 20px;
  }

  .register-form h2{
    margin-bottom: 20px;
  }

  .login-form label, .register-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .login-form input, .register-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .login-form button:hover{
    background-color: #0056b3;
  }
  .register-form button:hover{
    background-color: #0056b3;
  }
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .map {
    height: 100%;
  }